In [2]:
import pandas as pd
## 0. 打印设置
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)  ## 显示全部结果，不带省略点
##pd.set_option('display.width', 1000)
## pd.set_option('display.float_format', '{:.0f}'.format)

In [4]:
X_train = pd.read_csv(r"data/train.csv")

In [7]:
X_train

,policy_id,age,customer_months,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud
0,122576,37,189,2013-08-21,C,500/1000,1000,1465.71,5000000,455456,...,3,?,54930,6029,5752,44452,Nissan,Maxima,2000,0
1,937713,44,234,1998-01-04,B,250/500,500,821.24,0,591805,...,1,YES,50680,5376,10156,37347,Honda,Civic,1996,0
2,680237,33,23,1996-02-06,B,500/1000,1000,1844.00,0,442490,...,1,NO,47829,4460,9247,33644,Jeep,Wrangler,2002,0
3,513080,42,210,2008-11-14,A,500/1000,500,1867.29,0,439408,...,2,YES,68862,11043,5955,53548,Suburu,Legacy,2003,1
4,192875,29,81,2002-01-08,A,100/300,1000,816.25,0,640575,...,1,YES,59726,5617,10301,41550,Ford,F150,2004,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1008425,37,196,1997-06-29,C,250/500,500,1301.20,0,474615,...,3,NO,61433,10436,11432,39745,Nissan,Pathfinder,2011,1
696,770702,43,229,2001-05-29,A,250/500,500,1434.94,8000000,444476,...,1,?,68623,6798,14557,50606,Volkswagen,Passat,2013,1
697,755099,35,209,2003-01-11,C,100/300,500,1639.46,0,639608,...,0,YES,58033,9129,4598,40740,Mercedes,C300,2002,0
698,693804,44,275,2003-07-22,B,500/1000,2000,1042.29,0,432061,...,0,NO,35253,7359,3464,24677,Audi,A3,2007,1
699,598086,47,263,1996-08-15,C,500/1000,500,1282.56,0,433809,...,0,NO,24320,2250,4285,18092,Suburu,Forrestor,2008,0

In [8]:
def overViewAnalysis(list):
    for analysis in [list]:
        print('----------------行数和列数----------------')
        print(analysis.shape)
        i = 5
        analysis_base = analysis
        analysis = analysis.head(i)
        analysis.insert(0, 'new_col', '真实数据')  ## 在第一列，加入列（new_col2），并赋值为 “真实数据”
        analysis = analysis.append(analysis_base.dtypes, ignore_index=True)
        analysis['new_col'].loc[int(i)] = '数据类型'
        analysis = analysis.append(analysis_base.isnull().sum(), ignore_index=True)
        analysis['new_col'].loc[int(i + 1)] = '空值数量'
        analysis = analysis.append(analysis_base.min(), ignore_index=True)
        analysis['new_col'].loc[int(i + 2)] = '最小值'
        analysis = analysis.append(analysis_base.max(), ignore_index=True)
        analysis['new_col'].loc[int(i + 3)] = '最大值'
        analysis = analysis.append(analysis_base.describe().loc['mean'], ignore_index=True)
        analysis['new_col'].loc[int(i + 4)] = '平均值'
        analysis = analysis.append(analysis_base.describe().loc['std'], ignore_index=True)
        analysis['new_col'].loc[int(i + 5)] = '方差'

        analysis_part02 = analysis.head(i)
        # analysis = analysis.drop([0,1,2]) # 删除指定列
        analysis.drop(analysis.index[0:i], inplace=True)  # 删除切片行
        analysis = analysis.append(analysis_part02, ignore_index=True)

        # print(test_identity.describe())
        print('----------------整体概况----------------')
        print(analysis)

In [17]:
overViewAnalysis(X_train)

----------------行数和列数----------------
(700, 38)
----------------整体概况----------------
   new_col policy_id    age customer_months policy_bind_date policy_state policy_csl policy_deductable policy_annual_premium umbrella_limit insured_zip insured_sex insured_education_level insured_occupation insured_hobbies insured_relationship capital-gains capital-loss incident_date             incident_type   collision_type incident_severity authorities_contacted incident_state incident_city incident_hour_of_the_day number_of_vehicles_involved property_damage bodily_injuries witnesses police_report_available total_claim_amount injury_claim property_claim vehicle_claim   auto_make auto_model auto_year  fraud
0     数据类型     int64  int64           int64           object       object     object             int64               float64          int64       int64      object                  object             object          object               object         int64        int64        object                    object           object            object                object         object        object                    int64                       int64          object           int64     int64                  object              int64        int64          int64         int64      object     object     int64  int64
1     空值数量         0      0               0                0            0          0                 0                     0              0           0           0                       0                  0               0                    0             0            0             0                         0                0                 0                     0              0             0                        0                           0               0               0         0                       0                  0            0              0             0           0          0         0      0
2      最小值     96771     19               0       1989-12-25            A    100/300               500                   412       -1000000      412997      FEMALE               Associate       adm-clerical    base-jumping              husband             0      -109100    2014-12-07   Multi-vehicle Collision                ?      Major Damage             Ambulance             S1     Arlington                        0                           1               ?               0         0                       ?                100            0              0            70      Accura   3 Series      1995      0
3      最大值   1045409     63             498       2015-03-08            C   500/1000              2000                  2005       10000000      649422        MALE                     PhD   transport-moving        yachting                 wife         98289            0    2015-03-29             Vehicle Theft   Side Collision    Trivial Damage                Police             S7   Springfield                       23                           4             YES               2         3                     YES             120666        21652          23812         78446  Volkswagen         X6      2015      1
4      平均值    549625     39             205              NaN          NaN        NaN              1148                  1247        1100000      502797         NaN                     NaN                NaN             NaN                  NaN         25842       -26247           NaN                       NaN              NaN               NaN                   NaN            NaN           NaN                       12                           2             NaN               1         1                     NaN              52423         7450           7332         37688         NaN        NaN      2005      0
5       方差    259068      9             116              NaN          NaN        NaN               612                   251        2282922       74251         NaN                     NaN                NaN             NaN                  NaN         28108        28465           NaN                       NaN              NaN               NaN                   NaN            NaN           NaN                        7                           1             NaN               1         1                     NaN              26179         4889           4787         18724         NaN        NaN         6      0
6     真实数据    122576     37             189       2013-08-21            C   500/1000              1000                  1466        5000000      455456      FEMALE                 Masters    protective-serv         reading        not-in-family         62203            0    2014-12-22  Single Vehicle Collision   Side Collision        Total Loss             Ambulance             S5     Riverwood                       21                           1               ?               0         3                       ?              54930         6029           5752         44452      Nissan     Maxima      2000      0
7     真实数据    937713     44             234       1998-01-04            B    250/500               500                   821              0      591805        MALE                      JD       craft-repair            polo       other-relative         31606            0    2015-02-18   Multi-vehicle Collision   Side Collision      Minor Damage                 Other             S5   Springfield                        4                           3               ?               2         1                     YES              50680         5376          10156         37347       Honda      Civic      1996      0
8     真实数据    680237     33              23       1996-02-06            B   500/1000              1000                  1844              0      442490      FEMALE             High School  machine-op-inspct       skydiving                 wife             0       -43166    2015-01-18  Single Vehicle Collision   Side Collision        Total Loss                Police             S3     Northbend                        0                           1               ?               2         1                      NO              47829         4460           9247         33644        Jeep   Wrangler      2002      0
9     真实数据    513080     42             210       2008-11-14            A   500/1000               500                  1867              0      439408        MALE                      JD   transport-moving     video-games            own-child             0       -49440    2015-02-02   Multi-vehicle Collision  Front Collision      Major Damage                  Fire             S3     Northbend                       20                           3             YES               2         2                     YES              68862        11043           5955         53548      Suburu     Legacy      2003      1
10    真实数据    192875     29              81       2002-01-08            A    100/300              1000                   816              0      640575      FEMALE                      MD       craft-repair     video-games            own-child         75296       -73689    2015-02-09   Multi-vehicle Collision   Rear Collision        Total Loss                  Fire             S2     Northbend                        9                           3             YES               2         1                     YES              59726         5617          10301         41550        Ford       F150      2004      0