In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
import xgboost
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import StratifiedKFold

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.float_format', '{:.0f}'.format)

In [3]:
base_dir = "D:\wk\myProject\project_insureFraudPredict\data"

In [4]:
train = pd.read_csv(f"{base_dir}\\train.csv")

In [5]:
train

     policy_id  age  customer_months policy_bind_date policy_state policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  insured_zip insured_sex insured_education_level insured_occupation insured_hobbies insured_relationship  capital-gains  capital-loss incident_date             incident_type   collision_type incident_severity authorities_contacted incident_state incident_city  incident_hour_of_the_day  number_of_vehicles_involved property_damage  bodily_injuries  witnesses police_report_available  total_claim_amount  injury_claim  property_claim  vehicle_claim   auto_make  auto_model  auto_year  fraud
0       122576   37              189       2013-08-21            C   500/1000               1000                   1466         5000000       455456      FEMALE                 Masters    protective-serv         reading        not-in-family          62203             0    2014-12-22  Single Vehicle Collision   Side Collision        Total Loss             Ambulance             S5     Riverwood                        21                            1               ?                0          3                       ?               54930          6029            5752          44452      Nissan      Maxima       2000      0
1       937713   44              234       1998-01-04            B    250/500                500                    821               0       591805        MALE                      JD       craft-repair            polo       other-relative          31606             0    2015-02-18   Multi-vehicle Collision   Side Collision      Minor Damage                 Other             S5   Springfield                         4                            3               ?                2          1                     YES               50680          5376           10156          37347       Honda       Civic       1996      0
2       680237   33               23       1996-02-06            B   500/1000               1000                   1844               0       442490      FEMALE             High School  machine-op-inspct       skydiving                 wife              0        -43166    2015-01-18  Single Vehicle Collision   Side Collision        Total Loss                Police             S3     Northbend                         0                            1               ?                2          1                      NO               47829          4460            9247          33644        Jeep    Wrangler       2002      0
3       513080   42              210       2008-11-14            A   500/1000                500                   1867               0       439408        MALE                      JD   transport-moving     video-games            own-child              0        -49440    2015-02-02   Multi-vehicle Collision  Front Collision      Major Damage                  Fire             S3     Northbend                        20                            3             YES                2          2                     YES               68862         11043            5955          53548      Suburu      Legacy       2003      1
4       192875   29               81       2002-01-08            A    100/300               1000                    816               0       640575      FEMALE                      MD       craft-repair     video-games            own-child          75296        -73689    2015-02-09   Multi-vehicle Collision   Rear Collision        Total Loss                  Fire             S2     Northbend                         9                            3             YES                2          1                     YES               59726          5617           10301          41550        Ford        F150       2004      0
..         ...  ...              ...              ...          ...        ...                ...                    ...             ...          ...         ...                     ...                ...             ...                  ...            ...           ...           ...                       ...              ...               ...                   ...            ...           ...                       ...                          ...             ...              ...        ...                     ...                 ...           ...             ...            ...         ...         ...        ...    ...
695    1008425   37              196       1997-06-29            C    250/500                500                   1301               0       474615        MALE                      JD       tech-support     video-games                 wife          47627             0    2015-01-18  Single Vehicle Collision  Front Collision      Major Damage             Ambulance             S5      Columbus                         4                            1               ?                0          3                      NO               61433         10436           11432          39745      Nissan  Pathfinder       2011      1
696     770702   43              229       2001-05-29            A    250/500                500                   1435         8000000       444476        MALE                 College  machine-op-inspct            golf              husband              0        -32289    2015-01-13   Multi-vehicle Collision   Rear Collision      Major Damage             Ambulance             S1     Arlington                        17                            3              NO                0          1                       ?               68623          6798           14557          50606  Volkswagen      Passat       2013      1
697     755099   35              209       2003-01-11            C    100/300                500                   1639               0       639608      FEMALE                 College   transport-moving            golf        not-in-family              0        -40797    2015-03-05   Multi-vehicle Collision   Rear Collision      Minor Damage                  Fire             S2     Riverwood                         7                            3              NO                2          0                     YES               58033          9129            4598          40740    Mercedes        C300       2002      0
698     693804   44              275       2003-07-22            B   500/1000               2000                   1042               0       432061      FEMALE               Associate  machine-op-inspct       paintball       other-relative          46822             0    2015-01-09   Multi-vehicle Collision   Rear Collision      Major Damage             Ambulance             S5     Northbend                        20                            3               ?                1          0                      NO               35253          7359            3464          24677        Audi          A3       2007      1
699     598086   47              263       1996-08-15            C   500/1000                500                   1283               0       433809      FEMALE             High School  machine-op-inspct        sleeping                 wife          54087        -61343    2015-01-08   Multi-vehicle Collision   Side Collision        Total Loss                Police             S4     Hillsdale                         5                            3               ?                0          0                      NO               24320          2250            4285          18092      Suburu   Forrestor       2008      0

[700 rows x 38 columns]

In [6]:
# 1. 数据预览，空值，均值，标准差，重复值

## 空值：authorities_contacted 60个空值
## 
def overViewAnalysis(dataframe):
    print('----------------整体概况----------------')
    overview = pd.DataFrame()
    overview['type'] = dataframe.dtypes
    overview['row_nums'] = dataframe.shape[0]
    overview['null_nums'] = dataframe.isnull().sum()
    # overview['min_num'] = dataframe.min()
#     overview['max_num'] = dataframe.max()
    overview['mean_num'] = dataframe.describe().loc['mean']
    overview['std_num'] = dataframe.describe().loc['std']

    for col in dataframe.columns:
        overview.loc[col,'nunique_nums'] = dataframe[col].nunique()

    print(overview)
    print('----------------整体概况----------------')
    return overview
    
overView = overViewAnalysis(train)
overView.to_excel(f"{base_dir}\\overview.xlsx", engine='openpyxl')

----------------整体概况----------------
                                type  row_nums  null_nums  mean_num  std_num  nunique_nums
policy_id                      int64       700          0    549625   259068           700
age                            int64       700          0        39        9            45
customer_months                int64       700          0       205      116           332
policy_bind_date              object       700          0       NaN      NaN           674
policy_state                  object       700          0       NaN      NaN             3
policy_csl                    object       700          0       NaN      NaN             3
policy_deductable              int64       700          0      1148      612             3
policy_annual_premium        float64       700          0      1247      251           698
umbrella_limit                 int64       700          0   1100000  2282922            11
insured_zip                    int64       700          0    502797    74251           699
insured_sex                   object       700          0       NaN      NaN             2
insured_education_level       object       700          0       NaN      NaN             7
insured_occupation            object       700          0       NaN      NaN            14
insured_hobbies               object       700          0       NaN      NaN            20
insured_relationship          object       700          0       NaN      NaN             6
capital-gains                  int64       700          0     25842    28108           352
capital-loss                   int64       700          0    -26247    28465           357
incident_date                 object       700          0       NaN      NaN           112
incident_type                 object       700          0       NaN      NaN             4
collision_type                object       700          0       NaN      NaN             4
incident_severity             object       700          0       NaN      NaN             4
authorities_contacted         object       700         60       NaN      NaN             4
incident_state                object       700          0       NaN      NaN             7
incident_city                 object       700          0       NaN      NaN             7
incident_hour_of_the_day       int64       700          0        12        7            24
number_of_vehicles_involved    int64       700          0         2        1             4
property_damage               object       700          0       NaN      NaN             3
bodily_injuries                int64       700          0         1        1             3
witnesses                      int64       700          0         1        1             4
police_report_available       object       700          0       NaN      NaN             3
total_claim_amount             int64       700          0     52423    26179           694
injury_claim                   int64       700          0      7450     4889           665
property_claim                 int64       700          0      7332     4787           662
vehicle_claim                  int64       700          0     37688    18724           697
auto_make                     object       700          0       NaN      NaN            14
auto_model                    object       700          0       NaN      NaN            39
auto_year                      int64       700          0      2005        6            21
fraud                          int64       700          0         0        0             2
----------------整体概况----------------

PermissionError: [Errno 13] Permission denied: 'D:\\wk\\myProject\\project_insureFraudPredict\\data\\overview.xlsx'

In [7]:
# 2. authorities_contacted 空值填充为 no_contacted
train = train.fillna({'authorities_contacted': 'no_contacted'})
train['authorities_contacted'].isnull().sum()

0

In [8]:
# 3. 对日期进行编码
def date_to_timestamp_days(date_series):
    """
    将日期序列转换为以天为单位的时间戳（自1970年1月1日起）。

    参数:
    date_series (pd.Series): 包含日期的Pandas Series对象。

    返回:
    pd.Series: 包含时间戳（以天为单位）的Pandas Series对象。
    """
    
    # 确保输入是datetime类型

    if date_series.dtype == 'object':
        try:
            date_series_convert = pd.to_datetime(date_series, format='%Y-%m-%d')
        except Exception as e:
            print(f"转换为datetime类型时出错: {e}")
    else:
        print("'已经是非object类型，无需转换。")

    if not pd.api.types.is_datetime64_any_dtype(date_series_convert):
        raise ValueError("输入的Series必须是datetime类型")

    # 计算时间戳（以天为单位）
    timestamp_days = (date_series_convert - pd.Timestamp("1970-01-01")).dt.days

    return timestamp_days

train['incident_date_timestamp_days'] = date_to_timestamp_days(train['incident_date']) 
train['policy_bind_date_timestamp_days'] = date_to_timestamp_days(train['policy_bind_date'])

In [ ]:
# 3. 对object进行编码

# 3.1 标签编码
# object_feature = list(train.select_dtypes(include=['object']).columns)
# lb = LabelEncoder()
# for col in object_feature:
#     train[col] = lb.fit_transform(train[col])
# train

In [9]:
# 3.2 独热编码，注意两点，一是避免重复使用同一encoder实例fit，二是OneHotEncoder需要二维数组作为输入，因此我们需要对单个列进行reshape

object_feature = list(train.select_dtypes(include=['object']).columns)

for col in object_feature:
    # 正确的单独处理示例（避免重复使用同一encoder实例fit）：
    onehot = OneHotEncoder(sparse_output=False, drop='first')
    if col not in ['incident_date','policy_bind_date']:
        # 注意：OneHotEncoder需要二维数组作为输入，因此我们需要对单个列进行reshape
        train[col] = onehot.fit_transform(train[[col]])
train

     policy_id  age  customer_months policy_bind_date  policy_state  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  insured_zip  insured_sex  insured_education_level  insured_occupation  insured_hobbies  insured_relationship  capital-gains  capital-loss incident_date  incident_type  collision_type  incident_severity  authorities_contacted  incident_state  incident_city  incident_hour_of_the_day  number_of_vehicles_involved  property_damage  bodily_injuries  witnesses  police_report_available  total_claim_amount  injury_claim  property_claim  vehicle_claim  auto_make  auto_model  auto_year  fraud  incident_date_timestamp_days  policy_bind_date_timestamp_days
0       122576   37              189       2013-08-21             0           0               1000                   1466         5000000       455456            0                        0                   0                0                     1          62203             0    2014-12-22              0               0                  0                      0               0              0                        21                            1                0                0          3                        0               54930          6029            5752          44452          0           0       2000      0                         16426                            15938
1       937713   44              234       1998-01-04             1           1                500                    821               0       591805            1                        0                   0                0                     0          31606             0    2015-02-18              0               0                  1                      0               0              0                         4                            3                0                2          1                        0               50680          5376           10156          37347          0           0       1996      0                         16484                            10230
2       680237   33               23       1996-02-06             1           0               1000                   1844               0       442490            0                        0                   0                0                     0              0        -43166    2015-01-18              0               0                  0                      0               0              0                         0                            1                0                2          1                        1               47829          4460            9247          33644          0           0       2002      0                         16453                             9532
3       513080   42              210       2008-11-14             0           0                500                   1867               0       439408            1                        0                   0                0                     0              0        -49440    2015-02-02              0               1                  0                      1               0              0                        20                            3                0                2          2                        0               68862         11043            5955          53548          0           0       2003      1                         16468                            14197
4       192875   29               81       2002-01-08             0           0               1000                    816               0       640575            0                        0                   0                0                     0          75296        -73689    2015-02-09              0               0                  0                      1               1              0                         9                            3                0                2          1                        0               59726          5617           10301          41550          0           0       2004      0                         16475                            11695
..         ...  ...              ...              ...           ...         ...                ...                    ...             ...          ...          ...                      ...                 ...              ...                   ...            ...           ...           ...            ...             ...                ...                    ...             ...            ...                       ...                          ...              ...              ...        ...                      ...                 ...           ...             ...            ...        ...         ...        ...    ...                           ...                              ...
695    1008425   37              196       1997-06-29             0           1                500                   1301               0       474615            1                        0                   0                0                     0          47627             0    2015-01-18              0               1                  0                      0               0              1                         4                            1                0                0          3                        1               61433         10436           11432          39745          0           0       2011      1                         16453                            10041
696     770702   43              229       2001-05-29             0           1                500                   1435         8000000       444476            1                        1                   0                0                     0              0        -32289    2015-01-13              0               0                  0                      0               0              0                        17                            3                1                0          1                        0               68623          6798           14557          50606          0           0       2013      1                         16448                            11471
697     755099   35              209       2003-01-11             0           0                500                   1639               0       639608            0                        1                   0                0                     1              0        -40797    2015-03-05              0               0                  1                      1               1              0                         7                            3                1                2          0                        0               58033          9129            4598          40740          0           0       2002      0                         16499                            12063
698     693804   44              275       2003-07-22             1           0               2000                   1042               0       432061            0                        0                   0                0                     0          46822             0    2015-01-09              0               0                  0                      0               0              0                        20                            3                0                1          0                        1               35253          7359            3464          24677          1           0       2007      1                         16444                            12255
699     598086   47              263       1996-08-15             0           0                500                   1283               0       433809            0                        0                   0                0                     0          54087        -61343    2015-01-08              0               0                  0                      0               0              0                         5                            3                0                0          0                        1               24320          2250            4285          18092          0           0       2008      0                         16443                             9723

[700 rows x 40 columns]

In [10]:
# 4. 数据清洗，删除冗余数据
for col in ['policy_id']: # ,
    del train[col]
train

     age  customer_months policy_bind_date  policy_state  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  insured_zip  insured_sex  insured_education_level  insured_occupation  insured_hobbies  insured_relationship  capital-gains  capital-loss incident_date  incident_type  collision_type  incident_severity  authorities_contacted  incident_state  incident_city  incident_hour_of_the_day  number_of_vehicles_involved  property_damage  bodily_injuries  witnesses  police_report_available  total_claim_amount  injury_claim  property_claim  vehicle_claim  auto_make  auto_model  auto_year  fraud  incident_date_timestamp_days  policy_bind_date_timestamp_days
0     37              189       2013-08-21             0           0               1000                   1466         5000000       455456            0                        0                   0                0                     1          62203             0    2014-12-22              0               0                  0                      0               0              0                        21                            1                0                0          3                        0               54930          6029            5752          44452          0           0       2000      0                         16426                            15938
1     44              234       1998-01-04             1           1                500                    821               0       591805            1                        0                   0                0                     0          31606             0    2015-02-18              0               0                  1                      0               0              0                         4                            3                0                2          1                        0               50680          5376           10156          37347          0           0       1996      0                         16484                            10230
2     33               23       1996-02-06             1           0               1000                   1844               0       442490            0                        0                   0                0                     0              0        -43166    2015-01-18              0               0                  0                      0               0              0                         0                            1                0                2          1                        1               47829          4460            9247          33644          0           0       2002      0                         16453                             9532
3     42              210       2008-11-14             0           0                500                   1867               0       439408            1                        0                   0                0                     0              0        -49440    2015-02-02              0               1                  0                      1               0              0                        20                            3                0                2          2                        0               68862         11043            5955          53548          0           0       2003      1                         16468                            14197
4     29               81       2002-01-08             0           0               1000                    816               0       640575            0                        0                   0                0                     0          75296        -73689    2015-02-09              0               0                  0                      1               1              0                         9                            3                0                2          1                        0               59726          5617           10301          41550          0           0       2004      0                         16475                            11695
..   ...              ...              ...           ...         ...                ...                    ...             ...          ...          ...                      ...                 ...              ...                   ...            ...           ...           ...            ...             ...                ...                    ...             ...            ...                       ...                          ...              ...              ...        ...                      ...                 ...           ...             ...            ...        ...         ...        ...    ...                           ...                              ...
695   37              196       1997-06-29             0           1                500                   1301               0       474615            1                        0                   0                0                     0          47627             0    2015-01-18              0               1                  0                      0               0              1                         4                            1                0                0          3                        1               61433         10436           11432          39745          0           0       2011      1                         16453                            10041
696   43              229       2001-05-29             0           1                500                   1435         8000000       444476            1                        1                   0                0                     0              0        -32289    2015-01-13              0               0                  0                      0               0              0                        17                            3                1                0          1                        0               68623          6798           14557          50606          0           0       2013      1                         16448                            11471
697   35              209       2003-01-11             0           0                500                   1639               0       639608            0                        1                   0                0                     1              0        -40797    2015-03-05              0               0                  1                      1               1              0                         7                            3                1                2          0                        0               58033          9129            4598          40740          0           0       2002      0                         16499                            12063
698   44              275       2003-07-22             1           0               2000                   1042               0       432061            0                        0                   0                0                     0          46822             0    2015-01-09              0               0                  0                      0               0              0                        20                            3                0                1          0                        1               35253          7359            3464          24677          1           0       2007      1                         16444                            12255
699   47              263       1996-08-15             0           0                500                   1283               0       433809            0                        0                   0                0                     0          54087        -61343    2015-01-08              0               0                  0                      0               0              0                         5                            3                0                0          0                        1               24320          2250            4285          18092          0           0       2008      0                         16443                             9723

[700 rows x 39 columns]

In [29]:
# 5. 模型训练
## 5.1 训练集以及特征集的划分
y = train['fraud']
x = train.drop(columns=['fraud'])

     age  customer_months policy_bind_date  policy_state  policy_csl  policy_deductable  policy_annual_premium  umbrella_limit  insured_zip  insured_sex  insured_education_level  insured_occupation  insured_hobbies  insured_relationship  capital-gains  capital-loss incident_date  incident_type  collision_type  incident_severity  authorities_contacted  incident_state  incident_city  incident_hour_of_the_day  number_of_vehicles_involved  property_damage  bodily_injuries  witnesses  police_report_available  total_claim_amount  injury_claim  property_claim  vehicle_claim  auto_make  auto_model  auto_year  incident_date_timestamp_days  policy_bind_date_timestamp_days
0     37              189       2013-08-21             0           0               1000                   1466         5000000       455456            0                        0                   0                0                     1          62203             0    2014-12-22              0               0                  0                      0               0              0                        21                            1                0                0          3                        0               54930          6029            5752          44452          0           0       2000                         16426                            15938
1     44              234       1998-01-04             1           1                500                    821               0       591805            1                        0                   0                0                     0          31606             0    2015-02-18              0               0                  1                      0               0              0                         4                            3                0                2          1                        0               50680          5376           10156          37347          0           0       1996                         16484                            10230
2     33               23       1996-02-06             1           0               1000                   1844               0       442490            0                        0                   0                0                     0              0        -43166    2015-01-18              0               0                  0                      0               0              0                         0                            1                0                2          1                        1               47829          4460            9247          33644          0           0       2002                         16453                             9532
3     42              210       2008-11-14             0           0                500                   1867               0       439408            1                        0                   0                0                     0              0        -49440    2015-02-02              0               1                  0                      1               0              0                        20                            3                0                2          2                        0               68862         11043            5955          53548          0           0       2003                         16468                            14197
4     29               81       2002-01-08             0           0               1000                    816               0       640575            0                        0                   0                0                     0          75296        -73689    2015-02-09              0               0                  0                      1               1              0                         9                            3                0                2          1                        0               59726          5617           10301          41550          0           0       2004                         16475                            11695
..   ...              ...              ...           ...         ...                ...                    ...             ...          ...          ...                      ...                 ...              ...                   ...            ...           ...           ...            ...             ...                ...                    ...             ...            ...                       ...                          ...              ...              ...        ...                      ...                 ...           ...             ...            ...        ...         ...        ...                           ...                              ...
695   37              196       1997-06-29             0           1                500                   1301               0       474615            1                        0                   0                0                     0          47627             0    2015-01-18              0               1                  0                      0               0              1                         4                            1                0                0          3                        1               61433         10436           11432          39745          0           0       2011                         16453                            10041
696   43              229       2001-05-29             0           1                500                   1435         8000000       444476            1                        1                   0                0                     0              0        -32289    2015-01-13              0               0                  0                      0               0              0                        17                            3                1                0          1                        0               68623          6798           14557          50606          0           0       2013                         16448                            11471
697   35              209       2003-01-11             0           0                500                   1639               0       639608            0                        1                   0                0                     1              0        -40797    2015-03-05              0               0                  1                      1               1              0                         7                            3                1                2          0                        0               58033          9129            4598          40740          0           0       2002                         16499                            12063
698   44              275       2003-07-22             1           0               2000                   1042               0       432061            0                        0                   0                0                     0          46822             0    2015-01-09              0               0                  0                      0               0              0                        20                            3                0                1          0                        1               35253          7359            3464          24677          1           0       2007                         16444                            12255
699   47              263       1996-08-15             0           0                500                   1283               0       433809            0                        0                   0                0                     0          54087        -61343    2015-01-08              0               0                  0                      0               0              0                         5                            3                0                0          0                        1               24320          2250            4285          18092          0           0       2008                         16443                             9723

[700 rows x 38 columns]

In [12]:
## 5.2 模型训练，模型参数设定

## GBDT 模型
GBDT_param = {
    'loss': 'log_loss',
    'learning_rate': 0.1,
    'n_estimators': 30,
    'max_depth': 3,
    'min_samples_split': 300
}

GBDT_clf = GradientBoostingClassifier()

# 决策树模型
tree_param = {
    'criterion': 'gini',
    'max_depth': 30,
    'min_impurity_decrease': 0.1,
    'min_samples_leaf': 2

}
Tree_clf = DecisionTreeClassifier(**tree_param)  #

# xgboost模型
xgboost_param = {
    'learning_rate': 0.01,
    'reg_alpha': 0.,
    'max_depth': 3,
    'gamma': 0,
    'min_child_weight': 1
}

xgboost_clf = xgboost.XGBClassifier(**xgboost_param)

In [31]:
## 5.3 模型训练过程中的交叉验证集划分 KFold
sk = StratifiedKFold(n_splits=10, shuffle=True, random_state=2019)
for train_, test_ in sk.split(x, y):
    # 注意是x.iloc[train_]，不是x[train_]
    # X_train训练集，X_test验证集，y_train就是预测值的训练集，y_test就是预测值的验证集
    X_train, X_test = x.iloc[train_], x.iloc[test_]
    y_train, y_test = y.iloc[train_], y.iloc[test_]